# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Output
output/*
!output/default-output.json
!output/custom-output.json

# Virtual Environment
venv/
.env

# OS
.DS_Store
Thumbs.db